<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<import resource="classpath:/mvc-context.xml" />
	<import resource="classpath:/shiro-context.xml" />
	<import resource="classpath:/db-context.xml" />

	<!-- Activates scanning of @Autowired -->
	<context:annotation-config />

	<!--spring component scan -->
	<context:component-scan base-package="com.crazy.singleweb" />

	<!--Configuration Repository -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties
				</value>
				<!-- <value>classpath:system.properties
				</value> -->
			</list>
		</property>
	</bean>
	
	<!--
	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="16" />
		<property name="keepAliveSeconds" value="200" />
		<property name="maxPoolSize" value="25" />
		<property name="queueCapacity" value="60" />
	</bean>-->

	<bean id="singleSessionFactory" class="org.springframework.orm.ibatis3.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:sqlmapconfig.xml" />
		<property name="dataSource" ref="singleDataSource" />
		<property name="transactionFactoryClass">
			<value type="java.lang.Class">
				org.apache.ibatis.transaction.jdbc.JdbcTransactionFactory
			</value>
		</property>
	</bean>

</beans>
