<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.crazy.singleweb.dao.mapper.SingleMapper">

	<resultMap id="user" type="com.crazy.singleweb.entity.User">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="account" column="account" />
		<result property="pwd" column="pwd" />
		<result property="type" column="type" />
		<result property="email" column="email" />
		<result property="phone" column="phone" />
		<result property="address" column="address" />
		<result property="remark" column="remark" />
	</resultMap>

	<resultMap id="menu" type="com.crazy.singleweb.entity.Menu">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="displayName" column="display_name" />
		<result property="linkUrl" column="link_url" />
		<result property="picUrl" column="pic_url" />
		<result property="type" column="type" />
		<result property="remark" column="remark" />
	</resultMap>

	<resultMap id="entity" type="com.crazy.singleweb.entity.Entity">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="createTime" column="create_time" />
		<result property="url" column="url" />
		<result property="linkUrl" column="link_url" />
		<result property="tag" column="tag" />
		<result property="type" column="type" />
	</resultMap>

	<select id="findUserByName" resultMap="user">
		select * from sg_user
		where name=#{name}
	</select>

	<select id="findUsers" resultMap="user">
		select * from sg_user
		<if test="param != null"> limit #{param.pi.from},#{param.pi.size} </if>
	</select>

	<select id="findMenus" resultMap="menu">
		select * from sg_menu where 1=1
		<if test="menu.name != null"> and name like #{menu.name}</if>
		<if test="param != null"> limit #{param.pi.from},#{param.pi.size} </if>
	</select>

	<select id="findMenusCount" resultType="int">
		select count(1) from sg_menu where 1=1
		<if test="menu.name != null"> and name like #{menu.name} </if>
	</select>

	<select id="findEntitysCount" resultType="int">
		select count(1) from
		sg_entity
	</select>

	<select id="findEntitys" resultMap="entity">
		select * from sg_entity
		<if test="param != null"> limit #{param.pi.from},#{param.pi.size} </if>
	</select>

	<update id="updatePwd">
		update sg_user set pwd =#{pwd} where
		id=#{id}
	</update>

	<update id="updateUser">
		update sg_user set
		name=#{name},email=#{email},phone=#{phone},address=#{address}
		where
		id=#{id}
	</update>

	<insert id="addMenu">
		insert into
		sg_menu(name,display_name,link_url,pic_url,type,remark)
		values(#{name},#{displayName},#{linkUrl},#{picUrl},#{type},#{remark})
	</insert>

	<update id="updateMenu">
		update sg_menu set
		name=#{name},display_name=#{displayName},link_url=#{linkUrl},pic_url=#{picUrl},remark=#{remark}
		where
		id=#{id}
	</update>

	<delete id="deleteMenu">
		delete from sg_menu where id=#{id}
	</delete>

	<insert id="addEntity">
		insert into
		sg_entity(name,create_time,`url`,link_url,tag,type)
		values(#{name},#{createTime},#{url},#{linkUrl},#{tag},#{type})
	</insert>

	<update id="updateEntity">
		update sg_entity set
		name=#{name},`url`=#{url},link_url=#{linkUrl},tag=#{tag},remark=#{remark}
		where
		id=#{id}
	</update>

	<delete id="deleteEntity">
		delete from sg_entity where id=#{id}
	</delete>


</mapper>